.leftBox
  .perfecture
    .hokkaido
      %a(href="#")
        北海道
    .tohoku
      %a(href="#")
        東北
    .kanto
      %a(href="#")
        関東
    .chubu
      %a(href="#")
        中部
    .kinki
      %a(href="#")
        近畿
    .chugoku
      %a(href="#")
        中国
    .shikoku
      %a(href="#")
        四国
    .kyushu
      %a(href="#")
        九州
    .okinawa
      %a(href="#")
        沖縄