.rightBox
  .formBox
    %form.formBox__form
      %textarea{placeholder: "どんな感じだった？", class: "formBox__form__text"}
      %label{class: "formBox__form__image"}
        %i.fas.fa-image
        %input{type: "file", class: "formBox__form__image--icon"}
      %input{type: "submit",value: "投稿する", class: "formBox__form__btn"}