.hokkaido{
  width: 100%;

  .postBox{
    width: 98%;
    margin: 5px auto;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px 15px;
    display: flex;

    &__user{
      height: auto;
      min-height: 100%;

      &__icon{
        height: 50px;
        width: 50px;
        border-radius: 50px 50px;
        background-color: rgb(227, 227, 227);
        background-size: cover;
      }
    }

    &__contents{
      width: 100%;
      margin-left: 10px;
      font-size: 16px;

      &__topBox{
        display: flex;
        justify-content: space-between;
        &__userNickname{
          font-size: 16px;
        }
        &__commandSelect{
          height: 20px;
          width: 20px;
          position: relative;

          .postFormBtn{
            position: absolute;
            top: 20px;
            right: 0;
            &__list{

              display: flex;
              flex-direction: column;
              font-size: 16px;

              .listContent{
                text-align: center;
                background-color: rgb(255, 255, 255);
                border: solid 1px rgb(231, 231, 231);
                width: 100px;
                padding: 5px 0;
                
              }
            }
          }
        }

      }
      &__image{
        margin: 10px auto;
        display: flex;
        justify-content: center;
      }
      &__text{
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}