= render "./messages/header"
.userContentsBox
  .userBoxLeft
  .userBoxCenter
    .messageBox
      - @messages.each do |message|
        - if message.image?
          .messageBox__image
            = image_tag message.image.url
        .messageBox__text
          = message.text

  .userBoxRight

