= render "./messages/header"
.userContentsBox
  .userBoxLeft
  .userBoxCenter
    - @messages.each do |message|
      .messageBox
        - if message.image?
          .messageBox__image
            = image_tag message.image.url, class: "messageBox__image--pic"
        .messageBox__text
          %span
            = simple_format(message.text)

  .userBoxRight

