.header {
  background-color: $headerGreen;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .siteName {
    margin: 10vw;
    font-size: 28px;
  }

  .userBox {
    display: flex;
    align-items: center;
    padding-right: 10vw;

    .userNickname {
      padding-right: 10px;
    }
    .userForBtn{

    }
  }
  .drag-and-drop {
    background-color: yellow;
    height: 100px;
    width: 100px;
    cursor: move;
    position: absolute;
    z-index: 1000;
  }
  .drag {
    z-index: 1001;
  }

}

.mainBox {
  display: flex;
}

