body{
  background-color: rgb(227, 227, 227);
}

.header{
  background-color: $headerGreen;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .siteName{
    background-color: red;
    margin: 10vw;
  }

  .userBox{
    display: flex;
    align-items: center;
    padding-right: 10vw;

    .userNickname{
      padding-right: 10px;
    }
    .userForBtn{

    }
  }
}

.mainBox{
  display: flex;
}