.rightBox{
  // background-color: rgb(255, 255, 196);
  height: calc(100vh - 50px);
  width: 50vw;
  padding-top: 150px;

  .formBox{
    background-color: rgb(227, 227, 227);
    width: 40vw;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px rgba($color: #5a5a5a, $alpha: 1.0);
    position: absolute;
    z-index: 1000;

    &__form{
      width: 100%;

      &__text{
        height: 100px;
        width: 80%;
        margin: 5px 10%;
        resize: none;
      }

      &__image{
        margin-left: 10%;
        cursor: pointer;
        &--icon{
          display: none;
        }
      }

      &__btn{
        float: right;
        margin-right: 10%;
        cursor: pointer;
      }
    }

  }
  .drag {
    z-index: 1001;
  }
}