.userContentsBox{
  height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  
  .userBoxLeft{
    background-color: rgb(255, 150, 150);
    width: 300px;
  }
  .userBoxCenter{
    width: 700px;


    .messageBox{
      width: 98%;
      margin: 5px auto;
      padding: 10px;
      border: solid 1px black;
      border-radius: 15px 15px;
      display: flex;

      &__user{
        height: auto;
        min-height: 100%;

        &__icon{
          height: 50px;
          width: 50px;
          border-radius: 50px 50px;
          background-color: rgb(227, 227, 227);
          background-image: url('image/user.png');
          background-size: cover;
        }
      }

      &__contents{
        width: 100%;
        margin-left: 10px;
        font-size: 16px;

        &__userNickname{
          margin-bottom: 5px;
        }

        &__image{
          margin: 10px auto;
          display: flex;
          justify-content: center;
        }
        &__text{
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

    }
  }
  .userBoxRight{
    background-color: rgb(178, 255, 252);
    width: 200px;
  }
}